<template name="componentTimelineItem">
    {{#with item}}
        <li>
            <i class="fa fa-{{icon}} bg-grey"></i>
            <div class="timeline-item">
                <span class="time" data-tooltip="{{ago}}" data-tooltip-direction="n">
                    <i class="fa fa-clock-o"></i>
                    {{time}}
                </span>
                <h3 class="timeline-header">
                    {{title}}
                </h3>
                {{> Template.dynamic template=template data=data}}
            </div>
        </li>
    {{/with}}
</template>
