<template name="adminLayoutSidebar">
    <div class="main-sidebar">
        <div class="sidebar">
            <ul class="sidebar-menu">
                {{#each items}}
                    <li class="{{isActiveNavigation this}} {{isActiveRoute route}}">
                        <a href="{{pathFor route}}">
                            <i class="fa fa-{{icon}}"></i>
                            <span>{{title}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>
